.cardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
    justify-content: flex-start;
    line-height: 0.3rem;
}


.music-card {
  background-color: rgba(0, 0, 0, 0.705);
  border: solid black 2px;
  box-sizing: border-box;
  display: flex;
  margin-right: 0.5rem;
  margin-top: 0.5rem; 
  margin-left:4px;
  margin-right:4px;
  min-width: 33%;
  border-radius: 5px;
  padding:5px;
  text-decoration: none;
  color: white;
  
}

.music-card:hover {
    transition: 0.155s;
    filter: brightness(120%);
    text-decoration: none;
    color: white;
    background-color:rgba(66, 66, 66, 0.541);
}

.music-card img {
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    border:solid black 1.2px;
    border-radius: 1.5px;
}   

img {
    margin: 0.5rem;
    width: 80px;
    height: 80px;
    border:solid black 1.2px;
    border-radius: 1.5px;
}

.artistInfo {
    background-color: beige;
 }

#logoApp {
    border: none;
    align-items: center;
}

 .headerAlCentro > #logoApp  {
    display: block;
    margin-left: auto;
    margin-right: auto;
 }

 #artistSearch {
     font-style: italic;
     border: solid black 1.6px;
     padding: 0 0.5px;
     width:28%;
     border-radius: 15px;
 }

 .breadcrumb > *, .breadcrumb *, .breadcrumb {
     background:black;
     color:white;
     text-decoration: none;
     display:flex;
     flex:1;
 }

 tr {
    border: solid black;
}

.media {
    background-color:rgba(0, 0, 0, 0.863);
    border-radius: 5px;
    box-shadow: 2px;
    margin:1px;
    border-spacing: 2px;
    opacity:1;
    color:white;
}

.media img {
    border:solid white 1px;
}

