/* Layout ========================================================================== */
@import url('https://fonts.googleapis.com/css?family=Montserrat');
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* Small screens (default) */
html {
    font-size: 16px;
}

/* Medium screens (640px) */

@media (min-width: 40rem) {
    html {
        font-size: 112%;
    }

    .column {
        float: left;

        display: inline-flex;
    }

    .column.full {
        width: 100%;
    }

    .column.two-thirds {
        width: 66.7%;
    }

    .column.half {
        width: 50%;
    }

    .column.third {
        width: 33.3%;
    }

    .column.fourth {
        width: 25%;
    }

    .column.flow-opposite {
        float: right;
    }
}

/* Large screens (1024px) */
@media (min-width: 64rem) {
    html {
        font-size: 120%;
    }
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* clase de cada una de las vistas*/
.main_view {
    background-color: rgba(7, 129, 7, 0.87);
    margin: 1% auto;
    border-radius: 15px;
    opacity: unset;
    padding: 0.4%;
    font-family: montserrat;
    width: 88%;
    min-height: 33rem;
    color:white;
    
}