.cardContainer {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.8rem;
    justify-content: flex-start;
    line-height: 0.5rem;
}

.MusicCard {
  background-color: aquamarine;
  border: 1px solid black;
  box-sizing: border-box;
  margin-right: 1%;
  margin-top: 1%; 
  min-width: 33%;
  display: flex;
  
}

.MusicCard img {
    margin: 5px;
}