.cardContainer {
    align-items: center;
    display: flex;
    flex-flow: row wrap;
    font-size: 0.8rem;
    justify-content: flex-start;
   
}
/*
    .music-card {
    }
    */
.music-card {
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRmNWs_3NyocaZ7WCimNCDlSH56qILhpsiXwp0RrY0hRhf4I7NF");
    background-size: 100%;
    border: 1px solid black;
    box-sizing: border-box;

    display: flex;
    
    margin: 0.5rem;
    min-width: 45%;
    border-radius: 7px;
    padding:5px;
}

.SongInfo{
    margin-top: 0.7rem;
    margin-left: 1rem;
    line-height: 1rem;
    
}

.music-card:hover {
    transition: 0.155s;
    filter: brightness(80%);
}

.music-card img{
    margin: 0.5rem;
    width: 100px;
    height: 100px;
    border:solid black 1.2px;
    border-radius: 1.5px;
}

img {
    margin: 0.5rem;
    width: 100px;
    height: 100px;
    border:solid black 1.2px;
    border-radius: 1.5px;
}


  
.artistInfo {
    background-color: rgb(143, 143, 50);
 }

 #logoApp  {
    border: none;
    align-items: center;
 }